.shop-book{
    background-color: white;
    padding: 29px 33px 29px 104px;
    position: relative;
}
.shop-book-img{
    position: absolute;
    top: 27px;
    left: -60px;
}
.shop-btn{
    color: #FF971D;
    border: 1px solid #FF971D;
    background-color: #FFF5E9FF;
    padding: 12px 89px;
    border-radius: 10px;
    margin-top: 18px;
}
.books__wrapper{
    padding: 42px 75px 42px 75px ;
    width: 100%;
}